@page
@model Formulario.Pages.CadastroModel
@{
    ViewData["Title"] = "Cadastro de Usuário";
}
<h2>Cadastro de Usuário</h2>
<form method="post">
<div>
  <label asp-for="Usuario.Nome"></label>
  <input asp-for="Usuario.Nome" />
  <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
</div>
 <div>
   <label asp-for="Usuario.Email"></label>
   <input asp-for="Usuario.Email" />
   <span asp-validation-for="Usuario.Email" class="text-danger"></span>
    </div>
 <div>
   <label asp-for="Usuario.DataNascimento"></label>
   <input asp-for="Usuario.DataNascimento" type="date" />
   <span asp-validation-for="Usuario.DataNascimento" class="text-danger"></span>
</div>
    <button type="submit">Cadastrar</button>
</form>
<a asp-page="/Index">Voltar</a>
